@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --turquoise-light: #12dcd8;
  --blue-desaturated: #4e92b2;
  --pink-bright: #d46da5;
  --blue-dark: #161932;
  --beige-light: #d2d8ae;
  --purple-dark: #4e4674;

  /* Image palette */
  --magenta: #f3308cff;
  --white: #ffffffff;
  --turquoise: #11dfd9ff;
  --tekhelet: #43346dff;
  --deep-sky-blue: #38c4faff;
  --savoy-blue: #5361caff;
}
